/* 

    Authors: Brenden Riley
    Date: 1.24.19

*/

body {
    width: 100%;
}

nav.horizontal ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: 40px;
    text-align: center;
}

nav.horizontal ul li {
    flex: 1 1 auto;
    background-color: red;
}

nav.horizontal a {
    text-align: center;
}

nav.horizontal li {
    font-size: 1.4em;
    line-height: 2em;
    list-style-type: none;
    width: 100%;
}